.footer-box {
  background: #222;
  color: white;
  padding: 20px;
  text-align: center;
  margin-top: 40px;
}

.footer-links {
  margin-top: 5px;
}

.footer-links a {
  color: #f8b400;
  text-decoration: none;
  margin: 0 8px;
}

.footer-links a:hover {
  text-decoration: underline;
}
