.topbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #222;
  padding: 15px 25px;
  color: white;
}

.topbar a {
  color: white;
  text-decoration: none;
  margin-right: 15px;
  transition: 0.3s;
}

.topbar a:hover {
  color: #f8b400;
}

.cartbox {
  font-weight: bold;
}
